{% extends "layout1.html" %}

{% block content %}


        <article class="media content-section">

          <div class="media-body">

            

            <h2><a class="article-title" href="#"><b><u><center>About us</center></u></b></a></h2>
            <p class="article-content">
              In today's world everyone in the world has plans and agendas. People will need to plan new events in the future and keep track of their events. Fortunately, there exists a tool that brings all these requirements under one umbrella and meets them, namely the Calendar. In our project, we have attempted to build a Calendar with basic functionalities such as Viewing the Calendar, Setting/Deleting Events and finally sending reminders for events via Email.

The user will first need to signup on the application following which an account will be created in his/her name. Then the user may sign into their account using their credentials, upon which the user will be provided three options : Views, add event and delete event. The Views module mainly displays the calendar for the day/week/month and also provides the user all the events scheduled for that particular day, week and month respectively. The add event module is used to add an event to the list of events which is unique to each user. Additionally, the add event module allows the user to include an optional reminder for each event, such that when the time is approximately equal to the event’s start time the user will receive an email notification regarding that particular event. The delete event module is used to delete an event from the corresponding user’s list. 

After noting down the requirements specified in the SRS document and the Project Plan, we went about designing the High-level, Class, Activity, Sequence and State diagrams for the use cases mentioned. We then went on to implement our project using Python-Flask combined with Sqlite as our backend and with HTML/CSS for the User Interface. The description of each use case implemented has been provided in this document along with the test cases for each use case.

            </p>
          </div>

        </article>




    

{% endblock content %}