{% extends "layout1.html" %}

{% block content %}


        <article class="media content-section">

          <div class="media-body">

            

            <h2><a class="article-title" href="#"><b><u>Face emotion recognition</u></b></a></h2>
            <p class="article-content">
              Facial emotion recognition model has been built using the FER13 dataset. An initial facial emotion recognition model has been built using Convolutional Neural Network giving an accuracy of 66% for the test split.
            </p>
          </div>

        </article>

   
        <article class="media content-section">

          <div class="media-body">

            

            <h2><a class="article-title" href="#"><b><u>Music Generation</u></b></a></h2>
            <p class="article-content">
              Two music generation models were built, one with character embedding and another with word embedding. Evident from the results, the word-embedded model generated semantically meaningful sentences with an accuracy of 90% 
            
            </p>
          </div>

        </article>



    

{% endblock content %}