<!DOCTYPE html>

<html>

<head>

    <!-- Required meta tags -->

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



    <link rel="stylesheet" type="text/css" href="static/main1.css">



    {% if title %}

        <title>Flask Blog - {{ title }}</title>

    {% else %}

        <title>DeepTunes</title>

    {% endif %}

<style>

img{
border:5px solid #5f788a;
border-radius:4px;
float: left;
}

.cap{

float: left;
margin: 10px 5px 5px 220px;
font-size: 26px;
}
</style>


</head>

<body>

    <header class="site-header">

      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">

        <div class="container">

          <a class="navbar-brand mr-4" href="/">DeepTunes</a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

          </button>

          <div class="collapse navbar-collapse" id="navbarToggle">

            <div class="navbar-nav mr-auto">

              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>

               <a class="nav-item nav-link" href="{{ url_for('about') }}">About DeepTunes</a>
      

            </div>

            <!-- Navbar Right Side -->

            <div class="navbar-nav">

              <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>

              

            </div>

          </div>

        </div>

      </nav>

    </header>

    <main role="main" class="container">

      <div class="row">

        <div class="col-md-8">

          {% with messages = get_flashed_messages(with_categories=true) %}

            {% if messages %}

              {% for category, message in messages %}

                <div class="alert alert-{{ category }}">

                  {{ message }}

                </div>

              {% endfor %}

            {% endif %}

          {% endwith %}

          {% block content %}{% endblock %}

        </div>

        <center><img src="{{url_for('send_image', filename=image_name)}}" height="500px">
          <br>
          <br>
          <p class="cap">{{caption}}</p></center>


        <div class="col-md-4">

          <div class="content-section">

            <h3>Team</h3>

            <p class='text-muted'>Our team members

              <ul class="list-group">

                <li class="list-group-item list-group-item-light">Pavan</li>

                <li class="list-group-item list-group-item-light">Vishesh</li>

                <li class="list-group-item list-group-item-light">Samarth G Vasist</li>

                <li class="list-group-item list-group-item-light">Sindhu Rao</li>

               

              </ul>

            </p>

          </div>

        </div>

      </div>






    </main>





    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>

