{% extends "layout1.html" %}

{% block content %}



<article class="media content-section">

          <div class="media-body">

            

            <h2><a class="article-title" href="#"><b><u>DeepTunes</u></b></a></h2>

<div class="fill">

<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">


 <p>
  <img src="static/face.png" height="150" width="150">
  <br>
  <strong><span id="hel">Select an image</span></strong><br>
    

    <div class="file-upload">
  <div class="file-select">
    <div class="file-select-button" id="fileName">Choose File</div>
    <div class="file-select-name" id="noFile"</div> 
    <input id="file-picker" type="file" class="form-control form-control-lg" name="file" accept="image/*" multiple>
    <label for="file">Select a File to upload</label>



    


    

   </div>
</div>

   
       

    <div id="msg"></div>
     <div class="wrapper">
   <input type="submit" class="btn btn-outline-info" value="Upload" id="upload-button">
    </div>
</p>
</div>
</form>
<center>
<strong><span id="hel">Turn On Camera</span></strong><br>
<a class="nav-item nav-link" href="{{ url_for('login') }}"><img src="static/face2.png" height="200" width="200"></a>
</center>

</div>
</DIV>
</article>

{% endblock content %}