{% extends "layout1.html" %}

{% block content %}


        <article class="media content-section">

          <div class="media-body">

            

            <h2><a class="article-title" href="#"><b><u>Music Generation based on Facial Emotions 
              using Deep Learning
</u></b></a></h2>

            <p class="article-content">DeepTunes focuses on
       <ul>
<li>Facial Emotion Recognition to identify the emotion from the given face in the image or webcam</li>
<li>Generating Music apt to the recognised emotion through deep learning </li>
</ul>
The goal of this project is to generate music, based on the emotional state detected by facial expression, so as to induce a positive emotional response.
          </div>

        </article>

    

{% endblock content %}